body{
  margin: 0;
  font-size: 22px;
}
h1{
  margin-left: 10px;
  color: dodgerblue;
}
ul{
  padding-inline-start: 0px;
}
li{
  list-style-type: none;
  background-color: lightblue;
  margin: 10px;
  padding: 10px;
  width: 270px;
  border: 1px dotted blue;
}
li:hover{
  background-color: dodgerblue;
  cursor: pointer;
}
#input,
#dodaj {
  display: block;
  border:1px solid darkblue;
  margin:10px;
  padding:4px;
  width:280px;
  background-color:wheat;
  margin-left: 10px;
}

#dodaj{
background-color: dodgerblue;
border:3px solid darkblue;
width:290px;
padding:10px;

}

